<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB-lTzTlswZ-6Bkt_VafJfwE73SckpbZIY</string>
	<key>GCM_SENDER_ID</key>
	<string>828326244816</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mitsheth.StreakSync</string>
	<key>PROJECT_ID</key>
	<string>streaksync-55ca0</string>
	<key>STORAGE_BUCKET</key>
	<string>streaksync-55ca0.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:828326244816:ios:0e2fdf3cb8a0eefb1b09d5</string>
</dict>
</plist>